In [1]:
# Load data into pandas as a dataframe (the object type pandas manipulates)
# Examples for three different file types: .csv, excel data, and tab separated.

import pandas as pd

df = pd.read_csv('pokemon_data.csv')
df = pd.read_excel('pokemon_data.xlsx')
df = pd.read_csv('pokemon_data.txt', delimiter = '\t')

# pokemon_data.txt is a tab separated file. Note the syntax in the previous line.

df
#Preview the beginning or end with .head() and .tail()
df.tail(3) # shows last three lines.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
# Read headers
df.columns

# Read an individual column. (akin to 'SELECT Name FROM df LIMIT 5')
df['Name'][0:5]
# Can also simply do
df.Name
# Can also select multiple cols:
df[['Name','Type 1','HP']] 

# Read an individual row. (aking to SELECT * FROM df WHERE row number = 1)
df.iloc[0:3]  #<-- in the brackets is the index number of the row it will present
            # all the row fields vertically if you only select one record.
# You can also use this syntax to index vertially and then horizonally to 
# pick out a single piece of data:
df.iloc[2,1]

# You can also iterate thru the rows
for index, row in df.iterrows():
   print(index, row['Name'])

# SELECT * FROM df WHERE 'Type 1' = 'Fire'
df.loc[df['Type 1'] == "Fire"]

In [ ]:
# Some descriptive statistics

# this gives you aggregated stats for each column:
df.describe()

# Sorting data
# Sort by column, i.e. SELECT * FROM df ORDER BY 'Name'
df.sort_values('Name')
# Same, but reverse the order-- make descending
df.sort_values('Name', ascending=False)
# Sort by more than one column, and make the first col ASC and the second DESC:
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

In [10]:
# Making changes to data

# return the dataframe, but include a column totaling specified columns
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head(5)

# remove the added column
df = df.drop(columns=['Total'])

# a more succinct way to do it:
#             all the rows, columns 4 up to 10, axis = 1 means add horizontally
df['Total'] = df.iloc[:, 4:10].sum(axis = 1) 

# Rearrange the column order output
# first, index the columnsi in a variable:
cols = list(df.columns.values)
# then rearrange stuff using that. cols[-1] in brackets to have it read as alist, not a string 
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
                

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# Saving data -- exporting into desired format

# Save our updated dataframe to a csv
df.to_csv('modified.csv')
# Save without the index number column
df.to_csv('modified.csv', index=False)

# Save our updated dataframe to excel
df.to_excel('modified.xlsx', index=False)

# Save our updated dataframe to tab separated 
# (no delimiter field, use sep= instead)
df.to_csv('modified.txt', index=False, sep='\t')

In [30]:
# Filtering Data
# it's necessary to separate conditions with parentheses inside the brackets
# in pandas it's &, not 'and' and | instead of 'or'
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
make a new dataframe that's just the filered data:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
The new df will keep the old index numbers, but we can reset those:
new_df = new_df.reset_index()
# alternatively:
new_df.reset_index(drop=True, inplace=True)
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [42]:
# More filtering data

# return all rows where the word "Mega" appears in the name col
df.loc[df['Name'].str.contains('Mega')]

# return all rows where the word "Mega" does NOT appear in the name col
# use ~
df.loc[-df['Name'].str.contains('Mega')]

# You can also pass regex expressions into the contains field
import re
# return rows where Type 1 is 'Fire' r 'Grass'
# flags=re.I have it so the regex search is case insensitive
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
# return rows where Name starts with 'Pi'
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [44]:
# Moifying data

# We can change our dataframe based on conditions we filter out by
# Return all rows where Type 1 is 'Fire' and change 'Fire' to 'Flamer' 

df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
df

# and we can reset the dataframe after those changes
df = pd.read_csv('modified.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [48]:
## Multiple columns can be changed at one time by passing in a list

# if a row has a total greater than 500, replace values in Generation and Legendary cols
# df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['TEST1','TEST2']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,TEST1,TEST2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,TEST1,TEST2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,TEST1,TEST2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,TEST1,TEST2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,TEST1,TEST2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,TEST1,TEST2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,TEST1,TEST2

In [57]:
# Aggregate Statistics with Groupby

# Find all the averages of the Type 1 pokemon and sort by Defense to see the type with
# the highest defense.
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
# also useful are .sum() and .count()

# return a summary that shows all the different type 1 pokemon and their respective counts
# first, add a count column to the dataframe (requires a nominal value?)
df['count'] = 1
# Then use the groupby and .count() combo:
df.groupby(['Type 1']).count().sort_values('count', ascending=False)['count']

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [58]:
## Working with large amounts of data

## instead of loading everything in like we've been doing:
# df = pd.read_csv('modified.csv')
## we can instead bring in a chunksize. Number after chunksize is the amount of rows
## being passed in:
# pd.read_csv('modified.csv', chunksize=5)

## You can put this into a look and load up the dataframe broken up:
#for df in pd.read_csv('modified.csv', chunksize=5)
#    print("Chunk DF")
#    print(df)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,1
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,1
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,1